openapi: 3.0.1
info:
  title: Edgegap Arbitrium App Versions Fleets API
  description: Representative OpenAPI description of the Edgegap Arbitrium REST API for distributed edge game-server orchestration. Covers applications, application versions, deployments, sessions, matchmaking, relays/networking, metrics, and private fleets. Auto-deploy dedicated game servers to Edgegap's global network of edge locations. This document is a faithful, representative subset authored for cataloging; consult the official Edgegap documentation for the complete, authoritative reference.
  termsOfService: https://edgegap.com/terms-of-service/
  contact:
    name: Edgegap Support
    url: https://edgegap.com/contact/
  version: '1.0'
servers:
- url: https://api.edgegap.com
  description: Edgegap Arbitrium Management API
security:
- AuthToken: []
tags:
- name: Fleets
  description: Private fleet deployments and host inventory.
paths:
  /v2/private-fleets/deployments:
    post:
      operationId: createPrivateFleetDeployment
      tags:
      - Fleets
      summary: Create private fleet deployment
      description: Deploys onto self-managed hosts registered in a private fleet.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeploymentCreate'
      responses:
        '200':
          description: OK
  /v2/private-fleets/{fleet_name}/hosts:
    get:
      operationId: listPrivateFleetHosts
      tags:
      - Fleets
      summary: List private fleet hosts
      parameters:
      - name: fleet_name
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
components:
  schemas:
    DeploymentCreate:
      type: object
      required:
      - app_name
      - version_name
      properties:
        app_name:
          type: string
        version_name:
          type: string
        ip_list:
          type: array
          items:
            type: string
        geo_ip_list:
          type: array
          items:
            type: object
            properties:
              ip:
                type: string
              latitude:
                type: number
              longitude:
                type: number
        env_vars:
          type: array
          items:
            type: object
            properties:
              key:
                type: string
              value:
                type: string
  securitySchemes:
    AuthToken:
      type: apiKey
      in: header
      name: Authorization
      description: 'API token generated in the Edgegap dashboard (User Settings / Tokens), sent as `Authorization: token <your_token>`.'
